

.layout-content-header{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.search-dash-name{
    color: black;
    font-size: 24px;
    font-weight: 600;
    font-weight: 700;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    z-index: 1;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.button-new-device{
    width: 140px;
    height: 40px;
    margin-right: 50px;
    font-size: 14px;
    font-weight: 700;
    background-color: #49cea1;
    border-color: transparent;
    padding: 4.5px 15px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: #49cea1;
        opacity: 0.5;
    }
}
.ant-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

.ant-tabs-tab{
    padding: 12px 12px!important;
    border-color: black!important;
    border-width: 0.2px!important;
}
.ant-tabs-tab-active{
    background-color: #49cea1!important;
    // border-radius: 15px;
    color: black!important;
}
.ant-tabs-tab-btn {
    color: black!important;
}

.search-filter-dash-header{
    margin-top: 20px;
    .search-filter-dash-header-count{
        font-weight: 600;
    }
}

.ant-tabs-nav-wrap{
    justify-content: center;
    align-items: center;
}
.ant-tabs-tab-btn{
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:768px){
    .button-new-device{
        margin-right: 0;
    }
}