.table{
    width: 96%!important;
}
.tr{
    cursor: pointer;
}
.ant-btn{
    background-color: #49cea1;
    color: black;
    font-weight: 600;
}
th{   
    text-align: center!important;
    vertical-align: middle!important;
}