.App {
  text-align: center;
}
a{
  text-decoration: none!important;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand","Ubuntu","Roboto","Helvetica_Neue",sans-serif;
}
